@media only screen and (max-width:767px) {
    #shopify-section-1625629395e51431a2 {
        display: none;
    }
}

.product-table tr:first-child {
    background: #F5F5F5;
}

.top-text-block {
    text-align: left;
}

button {
    height: 45px !important;
}

.nui-icon-medium-bag-filled-0 {
    fill: #fff;
    stroke: #fff;
}

.nui-icon-medium-bag-filled-1 {
    stroke: #fff;
}

svg.nui-icon.nui-icon-large-bag-filled {
    vertical-align: text-bottom;
    margin-right: 10px;
}

span#AddToCartText-product-template {
    vertical-align: text-bottom;
    font-size: 15px;
}

.shopify-payment-button__button {
    font-weight: 700;
}

.swatch-element .swatchInput:checked+.swatchLbl {
    border: 2px solid #333;
}

.mfpbox {
    max-width: 1500px;
}

/***size chart start**/

.mychart {
    background-color: white;
}

.sg-table-t {
    padding-top: 1.32rem;
    padding-bottom: 1.32rem;
}

.sg-table-notice {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sizeChart-drawer__content {
    background-color: #fff;
}

.common-detail {
    padding: 1.65rem 1.32rem;
    position: relative;
    background-color: #eee;
}

.sg-title-ctn .sg-size-newTitle {
    border: 1px solid #222;
}

.sg-size-newTitle li.title-active {
    background: #222;
    color: #fff;
}

li {
    list-style: none;
    display: list-item;
}

.sg-size-newTitle li {
    text-align: center;
    line-height: 3;
    color: #222;
    width: 6.06rem;
}

.sg-title-ctn .sg-size-newTitle {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
}

.sg-size-newTitle {
    right: .64rem;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.sg-table-base {
    border: 1px solid #eee;
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

.sg-table-side {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: visible!important;
    overflow-x: auto;
}

.sg-table-base tr:first-child {
    text-align: center;
    background: #f6f6f6;
}

.sg-table-base tr:first-child {
    font-weight: 700;
    max-width: 3.67rem;
    min-width: 2.8rem;
    height: 40px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sg-table_td {
    border: 1px solid #eee;
    height: 2rem;
    text-align: center;
}

td.sg-table_td:first-child {
    background: #f6f6f6;
}

.common-sizemeasure__detail-pricture {
    width: 200px;
    display: inline-block;
}

.pic {
    width: 200px;
    display: inline-block;
}

h6 {
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.measure-guide {
    column-count: 2;
}

.sg-table_td {
    width: 25px;
}

.sg-table_td:hover {
    background-color: #f6f6f6;
}

#sizechart th, #sizechart td {
    text-align: center;
}

#sizechart {
    text-align: left;
}

.measure-wrap {
    margin: 0.5rem 0 0.5rem 0;
}

p {
    margin-block-start: 0;
}

.rte li {
    list-style: none;
    margin-bottom: 0;
}

@media screen and (max-width:900px) {
    body {
        font-size: 12px;
        background-color: #fff;
    }
    .mychart {
        width: 100%;
        margin: 0;
    }
    .sizeChart-drawer__content {
        padding: 0;
    }
    .sg-table-t {
        padding-top: 0.32rem;
        padding-bottom: 0.32rem;
    }
    .measure-guide {
        column-count: 1;
        padding-right: 0;
    }
}

/***size chart end**/